<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Standards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let data of classes" expand="block" (click)="routeTosubjects(data.classId)">
        <ion-thumbnail slot="start">
          <img [src]="data.std_icon" />
        </ion-thumbnail>
        <ion-label>{{data.classNamme}}</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>