<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar translucent>
    <ion-title> Standards </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true" class="ion-padding">
  <!-- loading -->
  <div *ngIf="skeleton">
    <div class="quize-cards" *ngFor="let data of [1, 2, 3, 4, 5, 6, 7]">
      <ion-thumbnail slot="start">
        <div class="cover-image-skeleton"></div>
      </ion-thumbnail>
      <ion-label class="skeleton"
        ><div class="skeleton-loader"></div
      ></ion-label>
    </div>
  </div>

  <div *ngIf="!skeleton">
    <div class="quize-cards" *ngFor="let data of classes" (click)="routeToSubjects(data._id)">
    <ion-thumbnail slot="start" class="coverImage">
      <img  [src]="data.std_icon" />
    </ion-thumbnail>
    <ion-label>{{data.classNamme}}</ion-label>
</div>
</div>
<ion-fab slot="fixed" *ngIf="queryParams?.practice != 'true'" vertical="bottom" horizontal="end">
  <ion-fab-button size="small" (click)="OpenDialog()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>

<ion-modal [isOpen]="isModelOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title> Add Class </ion-title>
        <ion-buttons slot="start">
          <ion-icon size="large"
            name="chevron-back-outline"
            (click)="OpenDialog()"
          ></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" id="white-background" [formGroup]="classGroup">
      <ion-list>
        <ion-item fill="">
          <ion-label position="floating">Class Name</ion-label>
          <ion-input formControlName="classNamme" placeholder="Enter text"></ion-input>
        </ion-item>
    </ion-list>
      <ion-button style="margin-top: 20px;" (click)="createGroup();" expand="block">
        <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
        {{uploading?'Saving ':'Save'}}  
        <ion-spinner *ngIf="uploading" name="lines-sharp-small"></ion-spinner>
      </ion-button>
  
      <!-- snackbar card -->
      <div class="card" *ngIf="uploadStatus.status">
        <ion-icon size="large" [name]="currentStatusIcon"></ion-icon>
        <span class="message">{{uploadStatus.message}}</span>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
