.card {
    position: fixed;
    width: 85%;
    bottom: 0;
    z-index: 1000;
    animation: snackbar 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    background: transparent;
    backdrop-filter: blur(10px);
    transition: al  .3s ease-in;
  }
  
  @keyframes snackbar {
    0% {
      left: -200px;
    }
    50%{
      left: 10px;
    }
    100% {
      left: 18px;
    }
  }
  