<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Popular Lectures
    </ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="backTohome()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-card-content>
      <ion-list>
            <ion-item *ngFor="let data of lecturesData" expand="block" (click)="routeTocontents(data.lec_id)">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" [src]="data.lec_icon" />
              </ion-thumbnail>
              <ion-label>{{data.lec_title}}</ion-label>
            </ion-item>
      </ion-list>
    </ion-card-content>
</ion-content>