.card {
    position: fixed;
    width: 85%;
    bottom: 0;
    z-index: 1000;
    animation: snackbar 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    background: transparent;
    backdrop-filter: blur(10px);
    transition: al  .3s ease-in;
  }
  
  @keyframes snackbar {
    0% {
      left: -200px;
    }
    50%{
      left: 10px;
    }
    100% {
      left: 18px;
    }
  }

::ng-deep .calendar-body .calendar-month .calendar-month-grid{
  grid-template-rows : unset !important;
}
  


$midnight: white;
$clouds: white;
// General
body {
  color: $midnight;
  background: $clouds;
  padding: 0 1em 1em;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.tab {
  width: 100%;
  color: black;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    background: $midnight;
    cursor: pointer;
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
  }
}

// :checked
input:checked {
  + .tab-label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

.default-rotated{
  &::after {
    transform: rotate(90deg);
  }
  &::after {
    content: "";
  }
}

.default-opened{
  max-height: 100vh;
  padding: 1em;
}
