<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" (click)="backToContents()"></ion-icon>
    </ion-buttons>
    <ion-progress-bar *ngIf="!contentLoaded" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
  </ion-header>
  <!-- api key -->
  <!-- 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 -->
  <ion-content  [fullscreen]="true" class="ion-padding" >
    <iframe [src]="getImgContent(contentToWatch.content_link)" width="100%"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>
            <ion-card-header *ngIf="isVideoOrAudioContent(contentToWatch.content)">
            </ion-card-header>
            <pdf-viewer (after-load-complete)="checkContentLoaded()" (dblclick)="toggleFullscreenContent()" *ngIf="contentToWatch.content == 'document'"
            [src]="contentToWatch.content_link" [render-text]="true"
            [original-size]="false" class="pdf-viewer"></pdf-viewer>
          <ion-card-header>
            <ion-card-subtitle>{{contentToWatch.content_title}}</ion-card-subtitle>
            <ion-card-subtitle>{{contentToWatch.teacher? 'Auther : ' + contentToWatch.teacher : '' | lowercase}}</ion-card-subtitle>
            <ion-card-subtitle>{{contentToWatch.published_at?'Published : ' + contentToWatch.published_at : '' | lowercase}}</ion-card-subtitle>
          </ion-card-header>
  </ion-content>