<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="backToContents()"></ion-icon>
    </ion-buttons>
    <ion-progress-bar *ngIf="!contentLoaded" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
  </ion-header>

  <ion-content  [fullscreen]="true" class="ion-padding" >
          <div  [class]="contentControls.openFullscreen?'fullscreen':'exitfullscreen'">
              <video *ngIf="contentToWatch.content == 'video'"  (dblclick)="toggleFullscreenContent()" width="100%" id="classContent" (loadeddata)="checkContentLoaded()"
              (timeupdate)="checkContinuousContentduration()" class="sticky-top" autoplay  frameborder="0">
              <source [src]="getImgContent(contentToWatch.content_link)" type="video/mp4">
              Your Device does not support the video.
            </video>
            <img style="border: 1px solid lightgray;border-radius: 18px;" *ngIf="!contentControls.openFullscreen && (contentToWatch.content == 'audio')" [src]="contentToWatch.content_icon" height="150px" alt="">
              <audio *ngIf="contentToWatch.content == 'audio'"  width="100%" id="classContent" (loadeddata)="checkContentLoaded()"
              (timeupdate)="checkContinuousContentduration()" class="sticky-top" autoplay frameborder="0">
              <source [src]="getImgContent(contentToWatch.content_link)" type="audio/mp3">
              Your Device does not support the video.
          </audio>
            <ion-card-header *ngIf="isVideoOrAudioContent(contentToWatch.content)">
              <ion-range [style]="contentControls.openFullscreen?'padding: unset;color:white':'padding: unset;'"
                [value]="contentControls.currentRangeDuration" [min]="0" [max]="contentControls.Rangeduration"
                (ionKnobMoveStart)="onIonKnobMovecontent($event,false)" (ionKnobMoveEnd)="onIonKnobMovecontent($event,true)">
                <span slot="start">{{contentControls.currentDuration?contentControls.currentDuration:'00:00'}}</span>
                <span slot="end"> {{contentControls.duration?contentControls.duration:'00:00'}}</span>
              </ion-range>
              <div class="contentcontrols">
                <ion-fab-button (click)="rewindContent(10)" size="small">
                  <ion-icon name="play-skip-back-circle-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="playPauseContent()" size="small">
                  <ion-icon [name]="contentControls.playContent?'play-circle-outline':'pause-circle-outline'"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="skipContent(10)" size="small">
                  <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
                </ion-fab-button>
              </div>
            </ion-card-header>
          </div>
            <pdf-viewer (after-load-complete)="checkContentLoaded()" (dblclick)="toggleFullscreenContent()" *ngIf="contentToWatch.content == 'document'"
            src="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf" [render-text]="true"
            [original-size]="false" style="height: 3500px"></pdf-viewer>
          <ion-card-header>
            <ion-card-subtitle>{{contentToWatch.content_title}}</ion-card-subtitle>
            <ion-card-subtitle>{{contentToWatch.teacher? 'Auther : ' + contentToWatch.teacher : '' | lowercase}}</ion-card-subtitle>
            <ion-card-subtitle>{{contentToWatch.published_at?'Published : ' + contentToWatch.published_at : '' | lowercase}}</ion-card-subtitle>
          </ion-card-header>
  </ion-content>