<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lectures
    </ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" (click)="backToclass()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-list>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
          <ion-item *ngFor="let data of lecturesData" expand="block" (click)="routeTocontents(data.lec_id)">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" [src]="data.lec_icon" />
            </ion-thumbnail>
            <ion-label>{{data.lec_title}}</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
      </ion-reorder-group>
    </ion-list>
  </ion-card-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-button class="space-between">
     <ion-icon name="add"></ion-icon> Create Lecture
    </ion-button>
  </ion-fab>
</ion-content>
