<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lectures
    </ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" (click)="backToclass()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true" class="ion-padding">
  <div
    class="quize-cards"
    *ngFor="let data of lecturesData"
    (click)="routeTocontents(data._id)"
  >
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" [src]="data.lec_icon" />
    </ion-thumbnail>
    <ion-label>{{ data.lec_title }}</ion-label>
  </div>
</ion-content>
