<ion-content [fullscreen]="true" id="white-background">
  <div class="container">
    <div class="login-card">
      <img mat-card-image src="assets/login/login.webp" height="250px" alt="Photo of a login page" />
      <form [formGroup]="loginForm">
        <div class="field">
          <span class="prefix"><img src="assets/login/user.png" alt="" width="20px"></span>
          <input type="text" required placeholder="Enter Email" formControlName="username" autocomplete="off" />
        </div>
        <div class="field">
          <span class="prefix"><img [src]="visiblepass?'assets/login/visible.png':'assets/login/hide.png'"
              (click)="showpassword()" alt="" width="20px"></span>
          <input [type]="visiblepass?'text':'password'" placeholder="Enter Password" formControlName="password"
            autocomplete="off" />
        </div>
        <div class="center">
          <ion-button expand="block" color="warn" shape="round" class="submit" (click)="getOTP()">Continue
            <ion-spinner class="spinner" slot="end" *ngIf="loading" name="crescent"></ion-spinner>
          </ion-button>
        </div>
        <div class="signin">
          <p style="padding: unset;margin: unset;margin-top: 10px;margin-bottom: 10px;">Or sign in with</p>
          <!-- <span class="icons">
          <ion-icon (click)="LogiinWithGoogle()" name="logo-google"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-apple"></ion-icon>
        </span> -->
          <div class="center">
            <ion-button id="open-modal" expand="block" (click)="LoginWithGoogle()" color="light" shape="round"> <img
                src="assets/google-preview.png" style="margin-bottom: -5px;" width="100px" alt=""></ion-button>
          </div>
        </div>
        <hr>
        <div class="signin">
          <span>Don't have an account?</span>
          <span class="link">
            <a routerLink="/register">Register here</a>
          </span>
        </div>
      </form>
    </div>
  </div>

  <!-- snackbar card -->
  <div *ngIf="uploadStatus.status" class="card">
    <ion-icon size="large" [name]="currentStatusIcon"></ion-icon>
    <span class="message">{{ uploadStatus.message }}</span>
  </div>

  <ion-modal [isOpen]="isPersonalDetailsModelOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="closeModel()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="verification-code">
          <h2><label class="control-label">Verification Code</label></h2>
          <div class="otp-message">
            <p>OTP sent to your email (valid for 5 minutes).</p>
          </div>
          <div class="verification-code--inputs" [formGroup]="otpgroup">
            <input type="number" maxlength="1" (keyup.enter)="verifyOTP()" #otp1 id="otp1"
              (input)="restrictmaxNumber($event,'otp1');" formControlName="otp1" />
            <input type="number" maxlength="1" (keyup.enter)="verifyOTP()" id="otp2"
              (input)="restrictmaxNumber($event,'otp2');" formControlName="otp2" />
            <input type="number" maxlength="1" (keyup.enter)="verifyOTP()" id="otp3"
              (input)="restrictmaxNumber($event,'otp3');" formControlName="otp3" />
            <input type="number" maxlength="1" (keyup.enter)="verifyOTP()" id="otp4"
              (input)="restrictmaxNumber($event,'otp4')" formControlName="otp4" />
          </div>
        </div>

        <div class="center">
          <ion-button color="warn" shape="round" [disabled]="!validate()" class="submit" (click)="verifyOTP()">
            {{loading?'Verifying':'Verify'}}
            <ion-spinner class="spinner" slot="end" *ngIf="loading" name="crescent"></ion-spinner>
          </ion-button>
        </div>
        <!-- snackbar card -->
        <div *ngIf="uploadStatus.status" class="card">
          <ion-icon size="large" [name]="currentStatusIcon"></ion-icon>
          <span class="message">{{ uploadStatus.message }}</span>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>