<ion-router-outlet></ion-router-outlet>
<ion-tabs *ngIf="splash_loaded">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="routesTo('home')">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    
    <ion-tab-button (click)="routesTo('class')">
      <ion-icon name="play-circle"></ion-icon>
      Course
    </ion-tab-button>
      <!-- <ion-tab-button (click)="presentActionSheet()">
      <ion-fab-button size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-tab-button> -->
    <ion-tab-button (click)="routesTo('live')">
      <ion-icon name="radio"></ion-icon>
      Live
    </ion-tab-button>
    <ion-tab-button (click)="routesTo('calender')">
      <ion-icon name="calendar-outline"></ion-icon>
      Calender
      <!-- <ion-icon name="chatbox-ellipses-outline"></ion-icon> -->
      <!-- Chat -->
      <!-- <ion-icon name="newspaper-outline"></ion-icon> -->
      <!-- Quiz -->
    </ion-tab-button>
    <ion-tab-button (click)="routesTo('achievements')">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
      Score Card
    </ion-tab-button>
    <ion-tab-button (click)="routesTo('profile')">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>