<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contents
    </ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="backTolectures()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="currentContent" (ngModelChange)="switchContent(currentContent)" value="video">
      <ion-segment-button value="video">
        <ion-label>Video</ion-label>
      </ion-segment-button>
      <ion-segment-button value="audio">
        <ion-label>Audio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="document">
        <ion-label>Document</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-list>
      <div [ngSwitch]="currentContent">
        <div *ngSwitchDefault>
          <ion-item *ngFor="let data of filteredData" expand="block">
            <ion-thumbnail slot="start">
              <img (click)="routeTocontentControls(data)" alt="Silhouette of mountains" [src]="data.content_icon" />
            </ion-thumbnail>
            <ion-label (click)="routeTocontentControls(data)">{{data.content_title}}</ion-label>
            <ion-badge (click)="sendMessage(data)" slot="end">Live</ion-badge>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-card-content>
</ion-content>


