<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Contents </ion-title>
    <ion-buttons slot="start">
      <ion-icon size="large"
        name="chevron-back-outline"
        (click)="backTolectures()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [(ngModel)]="currentContent"
      (ngModelChange)="switchContent(currentContent)"
      value="video"
    >
      <ion-segment-button value="video">
        <ion-label>Video</ion-label>
      </ion-segment-button>
      <ion-segment-button value="audio">
        <ion-label>Audio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="document">
        <ion-label>Document</ion-label>
      </ion-segment-button>
      <ion-segment-button value="quiz">
        <ion-label>Quiz</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- loading -->
  <div *ngIf="skeleton">
    <div class="quize-cards" *ngFor="let data of [1, 2, 3, 4, 5, 6, 7]">
      <ion-thumbnail slot="start">
        <div class="cover-image-skeleton"></div>
      </ion-thumbnail>
      <ion-label class="skeleton"
        ><div class="skeleton-loader"></div
      ></ion-label>
    </div>
  </div>

  <div *ngIf="!skeleton">
    <ion-card-content>
      <ion-list>
        <ion-reorder-group
          [disabled]="false"
          (ionItemReorder)="handleReorder($any($event))"
        >
        </ion-reorder-group>
        <div [ngSwitch]="currentContent">
          <div *ngSwitchDefault>
            <ion-item
              *ngFor="let data of filteredData"
              expand="block"
              (click)="routeTocontentControls(data)"
            >
              <ion-thumbnail slot="start" class="coverImage">
                <img alt="Silhouette of mountains" [src]="data.content_icon" />
              </ion-thumbnail>
              <ion-label>{{ data.content_title }}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              <!-- <ion-reorder slot="end"></ion-reorder> -->
            </ion-item>
          </div>
          <div *ngSwitchCase="'quiz'">
            <ion-item
              *ngFor="let data of papers"
              (click)="routeToQuiz(data)">
              <ion-label style="padding: 20px;">
                <strong>{{ data.paper_title }}</strong><br>
                <ion-note color="medium" class="ion-text-wrap">
                  {{ data.className }}
                </ion-note><br>
                <ion-note color="medium" class="ion-text-wrap">
                  {{ data.paper }}
                </ion-note><br>
                <ion-note color="medium" class="ion-text-wrap">
                  {{ data.date }}
                </ion-note>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">{{ data.time }}</ion-note>
                <ion-icon color="medium" name="chevron-forward"></ion-icon>
              </div>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </ion-card-content>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="uploadContent('audio')">
        <ion-icon name="musical-notes-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="uploadContent('video')">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="uploadContent('document')">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="uploadQuiz('quiz')">
        <ion-icon name="documents-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
