<ion-content [fullscreen]="true">
  <div class="wrapper">
    <ng-container *ngIf="UserProfileDetails.profile_picture">
      <img id="preview" class="circle" [src]="UserProfileDetails.profile_picture" alt="Profile Photo" width="200">
    </ng-container>
    <div id="open-modal" expand="block" *ngIf="!UserProfileDetails.profile_picture" class="ion-activatable ripple-parent circle">
      <div class="avatar-skeleton" *ngIf="skeleton"></div>
      <ion-icon name="person"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </div>
  </div>

  <ion-list>
    <ion-item (click)="togglePersonalDetails()">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>Personal Details</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-item>
    <ion-item (click)="navigateTo('features')">
      <ion-icon slot="start" name="logo-buffer"></ion-icon>
      <ion-label>Features</ion-label>
    </ion-item>
    <ion-item (click)="navigateTo('privacy-policy')">
      <ion-icon slot="start" name="shield-half-outline"></ion-icon>
      <ion-label>PrivacyPolicy</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="logo-android"></ion-icon>
      <ion-label>Version2.9</ion-label>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" style="transform: translate(180deg);" name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>

  <ion-modal class="isProfileModelOpen" [isOpen]="isProfileModelOpen">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="toggleprofileMenu()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <label for="profile-photo">
            <ion-item>
              <ion-label>
                <input type="file" (change)="previewPhoto($event)" accept="image/*" id="profile-photo"
                  style="display: none;">
                Choose Photo
              </ion-label>
            </ion-item>
          </label>
          <ion-item (click)="removepreviewPhoto()">
            <ion-label style="color: red;">
              Delete Photo
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


<ion-modal [isOpen]="isPersonalDetailsModelOpen">
  <ng-template>
    <ion-content  [fullscreen]="true" id="profilecard">
      <div class="quize-cards card-css">
        <ion-thumbnail slot="start" style="width:inherit;">
          <img  [src]="UserProfileDetails.profile_picture" class="circle-edit" />
        </ion-thumbnail>
        <ion-label>{{UserProfileDetails.first_name + UserProfileDetails.last_name}}</ion-label>
         <div class="right">
          <ion-button  color="warn" shape="round" #shakebutton id="shakebutton" class="submit">
            <ion-icon  slot="start" name="create-outline"></ion-icon>Edit</ion-button>
         </div>
    </div>
    </ion-content>
  </ng-template>
</ion-modal>