<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Achievements
    </ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="backToHome()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="donut center"></div>
  
    <ion-card-content>
      <span class="donut-details"><div class="donut-blue"></div> Total Subjects</span>
      <span class="donut-details"><div class="donut-red"></div> Total Marks</span>
    </ion-card-content>
  </ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item expand="block">
        <ion-icon name="play-circle"></ion-icon>
        <ion-icon slot="end" style="margin-right: 15px;" name="ribbon-outline"></ion-icon>
        <ion-icon slot="end" name="trophy-outline"></ion-icon>
        <ion-icon slot="end" name="analytics-outline"></ion-icon>
      </ion-item>
          <ion-item *ngFor="let data of lecturesData;let i = index" expand="block">
            <ion-label>{{data.lec_title}}</ion-label>
            <ion-label slot="end" >{{i == (2*1+1)?i+10:30}}</ion-label>
            <ion-label slot="end" >100</ion-label>
            <ion-icon slot="end" [name]="i == (2*1+1)?'trending-down-outline':'trending-up-outline'"></ion-icon>
          </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>



