/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

  body {
    background: #e8cbc0;
  }
  
  .container {
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
  }
  
  
  .rightbox {
    padding: 0em 34rem 0em 0em;
    height: 100%;
  }
  
  .rb-container {
    font-family: "PT Sans", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
  }
  
  .rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
    width : 250px;
  }
  
  .rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 2em;
    min-height: 50px;
    border-left: 1px dashed #50d890;
    padding: 0 0 50px 30px;
    position: relative;
  }
  
  .rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
  .rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 1);
    border-radius: 500%;
    background: #50d890;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  }
  
  .rb-container ul.rb li:hover::before {
    // border-color: #232931;
    transition: all 1000ms ease-in-out;
  }
  
  ul.rb li .timestamp {
    color: #50d890;
    position: relative;
    width: 100px;
    font-size: 12px;
  }
  
  .item-title {
    color: black;
  }
  
  .feature-w-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      font-size: 25px;
    }
  }
.notification-header{
  position: relative;
  display: inline-block;
  .badge{
    position: absolute;
    left: 28px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

::ng-deep .searchbar-input{
  box-shadow: unset !important;
  border: 1px solid lightgray !important;
  border-radius: 20px !important;
  background-color: rgba(229,229,229,255) !important;
}

  ion-content{
    --ion-background-color:rgba(243,243,243,255);
}

.xslider-container
{
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding: 10px;
  .slide{
    height: 110px;
    width: 230px !important;
  }
}
.yslider-container
{
  overflow-x: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding: 10px;
  .slide{
    height: 90px;
    width: 100% !important;
  }
  height: 200px;
}

.xslider-container::-webkit-scrollbar {
  display: none;
}

.yslider-container::-webkit-scrollbar {
  display: none;
}

.slide{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  align-items: flex-start;
  max-height: max-content;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.rating{
  display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    width: 99%;
    font-size: 12px;
    padding: 10px;
}

.content-details{
  font-weight: bold;
}