<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu
    side="end"
    contentId="main-content"
    style="--width: 100% !important"
  >
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon size="large"
            name="chevron-back-outline"
            (click)="toggleMenu()"
          ></ion-icon>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" id="white-background">
      <ion-item
        *ngFor="let data of notifications"
        (click)="routeTocontentControls(data); toggleMenu()"
      >
        <ion-icon 
          slot="start"
          [name]="
            notifications.length
              ? data.icon
              : 'notifications-off-circle-outline'
          "
        ></ion-icon>
        <ion-label class="ion-text-wrap">{{
          notifications.length
            ? data.info
            : "Looks like your notifications are all caught up. No new messages to see here!"
        }}</ion-label>
      </ion-item>
      <ion-item *ngIf="notifications.length == 0">
        <ion-icon
          slot="start"
          name="notifications-off-circle-outline"
        ></ion-icon>
        <ion-label class="ion-text-wrap">{{
          "Looks like your notifications are all caught up. No new messages to see here!"
        }}</ion-label>
      </ion-item>
      <ion-item></ion-item>
    </ion-content>
  </ion-menu>
  <ion-toolbar id="main-content">
    <ion-buttons slot="end">
      <ion-card-header class="notification-header">
        <ion-icon
          color="white"
          (click)="toggleMenu()"
          style="font-size: 25px"
          name="notifications-outline"
        ></ion-icon>
        <div
          class="badge"
          *ngIf="notification_count > 0"
          (click)="toggleMenu()"
        >
          {{ notification_count }}
        </div>
      </ion-card-header>
    </ion-buttons>
    <ion-card-title style="position: relative; margin-left: 15px">
      <ion-icon
        color="white"
        size="large"
        [name]="
          greeting == 'Good morning'
            ? 'partly-sunny-outline'
            : greeting == 'Good afternoon'
            ? 'sunny-outline'
            : greeting == 'Good night'
            ? 'cloudy-night-outline'
            : ''
        "
      ></ion-icon>
      <span class="greeting">{{ greeting }}</span>
    </ion-card-title>
  </ion-toolbar>
  <ion-content>
    <h4>Find Your Favorite<br />Online Course</h4>
    <ion-searchbar
      (click)="toggleSeachmenu(); focusSearchBar()"
    ></ion-searchbar>

    <h4>Popular Contents</h4>
    <div class="slider-container" id="slider">
      <!-- loading -->
      <div *ngIf="skeleton.mostWatched" class="slider-container" id="slider">
        <div class="card slide" *ngFor="let lecture of [1, 2]">
          <div class="cover-image-skeleton"></div>
          <span style="text-align: center">
            <span class="rating">
              <div class="skeleton-loader"></div>
              <div class="skeleton-loader"></div>
            </span>
            <span>
              <ion-label><div class="skeleton-loader"></div></ion-label>
            </span>
          </span>
        </div>
      </div>

      <div *ngIf="!skeleton.mostWatched" class="slider-container" id="slider">
        <div
          class="card slide"
          *ngFor="let lecture of mostWatched"
          (click)="routeTocontentControls(lecture)"
        >
          <img
            slot="start"
            alt="Silhouette of mountains"
            style="height: 85px"
            [src]="lecture.content_icon"
          />
          <span style="text-align: center;white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;">
            <span class="rating">
              <ion-icon name="star-outline" color="orange"></ion-icon>
              {{ lecture.view }}
              <ion-icon name="caret-forward-circle-outline"></ion-icon>
              {{ lecture.view }}
            </span>
            <span>
              <ion-label>{{ lecture.content_title }}</ion-label>
            </span>
          </span>
        </div>
      </div>

      <!-- <div
        *ngIf="mostWatched.length"
        (click)="routeToPupularLectures()"
        class="card slide"
        style="display: flex; justify-content: center; align-items: center"
      >
        <a slot="end" class="linked">See All</a>
        <ion-icon style="color: blue" name="arrow-forward-outline"></ion-icon>
      </div> -->
    </div>

    <h4>Popular Skill Tests</h4>
    <div class="slider-container" id="slider">
      <!-- loading -->
      <div *ngIf="skeleton.lectureDetails" class="slider-container" id="slider">
        <div class="card slide" *ngFor="let lecture of [1, 2]">
          <div class="cover-image-skeleton"></div>
          <span style="text-align: center">
            <span class="rating">
              <div class="skeleton-loader"></div>
              <div class="skeleton-loader"></div>
            </span>
            <span>
              <ion-label><div class="skeleton-loader"></div></ion-label>
            </span>
          </span>
        </div>
      </div>

      <div *ngIf="!skeleton.lectureDetails" class="slider-container" id="slider">
        <div
          class="card slide"
          *ngFor="let quiz of lectureDetails; let i = index"
          (click)="beginTest(quiz)"
        >
          <img
            slot="start"
            alt="Silhouette of mountains"
            style="height: 85px"
            [src]="quiz.lec_icon"
          />
          <span style="text-align: center">
            <span class="rating">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              {{ quiz.quizDetailsCount }}
              <ion-icon name="person-outline"></ion-icon>
              {{ quiz.usersCount }}
            </span>
            <span>
              <ion-label>{{ quiz.lec_title }}</ion-label>
            </span>
          </span>
        </div>
      </div>

      <!-- <div
        *ngIf="mostWatched.length"
        (click)="routeToPupularQuiz()"
        class="card slide"
        style="display: flex; justify-content: center; align-items: center"
      >
        <a slot="end" class="linked">See All</a>
        <ion-icon style="color: blue" name="arrow-forward-outline"></ion-icon>
      </div> -->
    </div>
  </ion-content>
</ion-content>

<ion-modal [isOpen]="isSearchOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-searchbar
        [(ngModel)]="searchQuery"
          #searchBar
          id="searchBar"
        ></ion-searchbar>
        <ion-buttons slot="start">
          <ion-icon size="large"
            name="close-outline"
            (click)="toggleSeachmenu()"
          ></ion-icon>
        </ion-buttons>
        <ion-buttons fill="outline" slot="end" (click)="searchText()">
          <ion-icon size="large"
          name="arrow-forward-circle-outline"
        ></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" id="white-background">
      <img src="assets/search.webp" *ngIf="!SearchedContents.length" alt="" />
      <ion-list>
        <ion-item
          *ngFor="let data of SearchedContents"
          expand="block"
          (click)="routeTocontentControls(data);toggleSeachmenu()"
        >
          <ion-icon
            slot="start"
            [name]="
              data.content == 'video'
                ? 'play-circle-outline'
                : data.content == 'audio'
                ? 'musical-notes-outline'
                : data.content == 'document'
                ? 'document-text-outline'
                : ''
            "
          ></ion-icon>
          <ion-label>{{ data.content_title }}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
